/* 改变主题色变量 */
$--color-primary: #3296fa;
/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";
.container {
  min-height: calc(100vh - 120px);
}
/* 重写element-ui样式 -- start */
.el-button--text {
  padding: 0;
}
.el-input {
  input {
    height: 34px;
    border-radius: 0;
  }
  i {
    line-height: 34px;
  }
  .el-icon-search{
    color:#3f9dfa;
  }
}
.el-button {
  border-radius: 2px;
  padding: 9px 46px;
  &.el-button--text, &.we7-button-normal {
    padding: 9px 20px;
  }
}
.el-message {
  &--info {
    background-color: rgba($color: #313131, $alpha: 0.6);
    color: #fff;
    top: 50% !important;
    transform: translateX(-50%);
    text-align: center;
    min-width: auto;
    .el-message {
      &__icon {
        display: none;
      }
      &__content {
        color: #fff;
        text-align: center;
      }
    }
  }
}
.we7-dialog {
  .el-dialog {
    width: 800px;
    textarea {
      border-radius: 0;
    }
    .el-dialog__header {
      padding: 30px;
      padding-bottom: 60px;
    }
    .el-dialog__title {
      color: #4d4d4d;
    }
    .el-dialog__headerbtn {
      top: 30px;
      right: 30px;
      font-size: 22px;
    }
    .el-dialog__headerbtn .el-dialog__close {
      color: #999999;
    }
    .el-dialog__body {
      padding: 0 96px 38px 96px;
      .el-select, .el-cascader {
        width: 100%;
      }
    }
    .el-dialog__footer {
      padding-top: 20px;
      border-top: 1px solid #edeef0;
      .el-button + .el-button {
        margin-left: 20px;
      }
    }
  }
}
.w7-table {
  margin-top: 30px;
  .el-table__header thead tr {
    th {
      > .cell {
        font-family: PingFang-SC-Regular;
        font-size: 14px;
        font-weight: normal;
        color: #4d4d4d;
      }
    }
  }
  .doc-icons {
    .name {
      cursor: pointer;
      margin-right: 15px;
      margin-left: 15px;
      &:hover {
        color: #3296fa;
      }
    }
    .wi-star {
      margin-right: 15px;
    }
  }
  .oper {
    .wi {
      margin-left: 15px;
      font-size: 16px;
      color: #b3b3b3;
      cursor: pointer;
      &:hover {
        color: #3296fa;
      }
      &.checked {
        color: #3296fa;
        &:hover {
          color: #b3b3b3;
        }
      }
    }
  }
}
.el-pagination {
  float:right;
  margin-top: 30px;
  .btn-prev, .btn-next {
    padding: 0 10px !important;
  }
}
.w7-tree {
  font-size: 14px;
  .el-tree-node__content {
    height: 40px;
  }
  &.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
    background-color: #ffffff;
  }
  .el-tree-node__content:hover {
    background-color: #ffffff;
  }
}
.el-tooltip__popper {
  border-radius: 0;
  padding: 4px;
}
/* 重写element-ui样式 -- end */

/* 公共样式 */
ul, li {
  margin: 0;
  padding:0;
  list-style:none;
}
.color-blue {
  color: #4096f9;
}
.color-yellow {
  color: #ff9c00;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.text-over {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.admin-view {
  &>.el-header {
    background-color: #383d41;
    color: #fff;
    line-height: 60px;
    font-size: 16px;
    display: flex;
    padding: 0 50px;
  }
  .logo {
    font-size: 24px;
    color: #f7f8fa;
    margin-right: 20px;
    img{
      display: inline-block;
      vertical-align: middle;
      padding-right: 30px;
    }
  }
}
.page-head {
  padding: 30px 0 40px;
  font-size: 20px;
  color: #4d4d4d;
  letter-spacing: 1px;
  a:hover {
    color: #3296fa;
  }
}
.search-box {
  display: flex;
  justify-content:space-between;
  height: 34px;
  .demo-input-suffix {
    width: 240px;
  }
}
.w7-footer {
  text-align: center;
  color: #999;
  font-size: 14px;
  padding-bottom: 30px;
}
.we7-empty {
  padding: 30px 0;
  width: 100%;
  text-align: center;
  font-style: 14px;
  color: #909399;
}
.we7-label {
  display:inline-block;
  padding:0 5px;
  color:#ff8600;
  background:#fff1de;
  border-radius: 4px;
  .font {
    font-size: 14px;
    margin-left: 5px;
  }
}