/* 改变主题色变量 */
$--color-primary: #3296fa;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

.el-button--text {
  padding: 0;
}
.el-message {
  &--info {
    background-color: rgba($color: #313131, $alpha: 0.6);
    color: #fff;
    top: 50% !important;
    transform: translateX(-50%);
    text-align: center;
    min-width: auto;
    .el-message {
      &__icon {
        display: none;
      }
      &__content {
        color: #fff;
        text-align: center;
      }
    }
  }
}

.fl {
  float: left;
}
.fr {
  float: right;
}
.page-head {
	letter-spacing: 1px;
  color: #4d4d4d;
  padding-bottom: 30px !important;
}
.search-box {
  display: flex;
  justify-content:space-between;
  height: 34px;
  .demo-input-suffix {
    width: 240px;
    input {
      height: 34px;
      border-radius: 0;
    }
    i {
      line-height: 34px;
    }
  }
  .demo-input-btn {
    .el-button {
      border-radius: 2px;
      padding: 9px 20px;
    }
  }
}
.w7-footer {
  text-align: center;
  color: #999;
  font-size: 14px;
  padding-bottom: 30px;
}
.w7-table {
  margin-top: 30px;
  .el-table__header thead tr {
    th {
      > .cell {
        font-family: PingFang-SC-Regular;
        font-size: 14px;
        font-weight: normal;
        color: #4d4d4d;
      }
    }
    // th:nth-last-child(2) {
    //   padding-top:11px;
    //   > .cell {
    //     text-align: right;
    //     padding-right: 150px;
    //   }
    // }
  }
}
.el-pagination {
  float:right;
  margin-top: 30px;
  margin-right: 50px;
  .btn-prev, .btn-next {
    padding: 0 10px !important;
  }
}
.w7-dialog {
  .el-dialog {
    width: 580px;
    input {
      height: 34px;
      border-radius: 0;
    }
    textarea {
      border-radius: 0;
    }
    button {
      border-radius: 2px;
      padding: 9px 20px;
    }
  }
}
.w7-tree {
  font-size: 14px;
}